boto3==1.33.2
requests~=2.31.0

sanic~=23.6.0
flask~=3.0.0
Pillow~=10.1.0
beautifulsoup4~=4.12.2
botocore~=1.33.2
django-request~=1.6.3
response~=0.5.0
pip~=22.3.1
six~=1.16.0
idna~=3.4
urllib3~=1.26.16
certifi~=2023.5.7
s3transfer~=0.8.1
setuptools~=65.5.1
packaging~=23.2
pyparsing~=3.1.1
Jinja2~=3.1.2
wheel~=0.38.4
jmespath~=1.0.1